.calculatorSection {
    position: relative;
    .resultSection {
        text-align: center;
        font-size: 50px;
    }
    .dropdownSection {
        position: absolute;
        margin-top: 60%;
        width: 70%;
        left: 15%
    }
}
